@layer base {
	.bg-main-img {
		@apply w-full h-full bg-keyboard-img blur-sm lg:blur-none lg:brightness-50 bg-no-repeat bg-cover bg-right-bottom;
	}
}

.back-fixed {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: -10%;
	right: -10%;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s linear, transform 0.3s ease-in-out;
	pointer-events: none;

	transform: translateX(calc(10% * var(--dir)));
}
